body {
    background-image: url("../images/background.png");

}



header {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    align-content: center;
    background-color: teal;
    padding: 10px 100px;
    margin: 10px auto;
    width: 100%;

}

.random {
    background-color: aquamarine;
    margin-right: 350px;
    margin-left: 0px;
    margin-top: 50px;
}

.header {
    display: block;
    background-color: orange;
    margin-right: 350px;
    margin-left: 0px;
}

.game {
    display: block;
    background-color: green;
    margin-right: 350px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;

}